<%- layout('layout') %>

<div class="container-main">
    <h3 class="title-main">INICIO</h3>
    <div class="text-main">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida in sapien vitae 
            euismod. Aenean semper velit non dignissim congue. Suspendisse cursus enim eget leo porta 
            porttitor. Integer et ullamcorper risus. Morbi rhoncus dignissim lacus, tristique pulvinar 
            velit porttitor quis. Phasellus imperdiet malesuada est, eget dapibus urna molestie non. 
            Nullam vel quam orci. Phasellus sit amet sem non orci eleifend dignissim a at risus. Aliquam 
            ut elit nec nisl porttitor cursus ut a lorem.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida in sapien vitae 
            euismod. Aenean semper velit non dignissim congue. Suspendisse cursus enim eget leo porta 
            porttitor. Integer et ullamcorper risus. Morbi rhoncus dignissim lacus, tristique pulvinar 
            velit porttitor quis. Phasellus imperdiet malesuada est, eget dapibus urna molestie non. 
            Nullam vel quam orci. Phasellus sit amet sem non orci eleifend dignissim a at risus. Aliquam 
            ut elit nec nisl porttitor cursus ut a lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida in sapien vitae 
            euismod. Aenean semper velit non dignissim congue. Suspendisse cursus enim eget leo porta 
            porttitor. Integer et ullamcorper risus. Morbi rhoncus dignissim lacus, tristique pulvinar 
            velit porttitor quis. Phasellus imperdiet malesuada est, eget dapibus urna molestie non. 
            Nullam vel quam orci. Phasellus sit amet sem non orci eleifend dignissim a at risus. Aliquam 
            ut elit nec nisl porttitor cursus ut a lorem.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida in sapien vitae 
            euismod. Aenean semper velit non dignissim congue. Suspendisse cursus enim eget leo porta 
            porttitor. Integer et ullamcorper risus. Morbi rhoncus dignissim lacus, tristique pulvinar 
            velit porttitor quis. Phasellus imperdiet malesuada est, eget dapibus urna molestie non. 
            Nullam vel quam orci. Phasellus sit amet sem non orci eleifend dignissim a at risus. Aliquam 
            ut elit nec nisl porttitor cursus ut a lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida in sapien vitae 
            euismod. Aenean semper velit non dignissim congue. Suspendisse cursus enim eget leo porta 
            porttitor. Integer et ullamcorper risus. Morbi rhoncus dignissim lacus, tristique pulvinar 
            velit porttitor quis. Phasellus imperdiet malesuada est, eget dapibus urna molestie non. 
            Nullam vel quam orci. Phasellus sit amet sem non orci eleifend dignissim a at risus. Aliquam 
            ut elit nec nisl porttitor cursus ut a lorem.
        </p>
    </div>
</div>