<%- layout('layout') %>

<div class="container-signin">
    <h3 class="title-form">INICIO DE SESIÓN</h3>
    <div class="container-form">
        <% if (signinMessage) {%>
            <h3 class="error-message"><%= signinMessage %></h3>
        <% }%>
        <form class="form" action="/signin/user" method="POST">
            <input class="input-form" type="text" name="Cellphone" placeholder="Celular"/>
            <input class="input-form" type="password" name="Password" placeholder="Password"/>
            <button class="form-buttom">Enviar</button>
        </form>
    </div>
</div>